:root {
  --dark-color: #121212;
  --light-color: white;
  --l1-opacity: 0.75;
}

html {
  color: var(--dark-color);
  --bgd-color: var(--light-color);
  --theme-opacity: 1;
}

html[data-theme="dark"] {
  color: var(--light-color);
  --bgd-color: var(--dark-color);
  --theme-opacity: var(--l1-opacity);
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px 4px;
  margin: 2px;
  border: 2px solid;
  border-radius: 5px;
  background-color: var(--bgd-color);
  opacity: var(--theme-opacity);
  cursor: pointer;
}

.theme-ctn {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.theme-btn {
  margin: 1px;
  width: 22px;
  height: 22px;
}

@media (max-width: 800px) {
  li {
    display: none;
  }
  .theme-ctn {
    display: flex;
    width: 20px;
    height: 20px;
  }
}
