.toolbar-ctn {
  position: fixed;
  width: 100%;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  background: rgb(170, 167, 168);
  background: linear-gradient(
    180deg,
    rgba(170, 167, 168, 1) 0%,
    rgba(120, 119, 116, 1) 100%
  );
  /* background:grey; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 12px 0 0;
  padding: 0px 9px;
}

.start-ctn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 4px 5px 2px 5px;
}

.mid-ctn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ctn-bloc {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0 15px;
}

.zoom-logo {
  color: white;
  margin: 0 4px;
}

.end-ctn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.saving-status {
  font-size: 12px;
  margin: 0 10px 0 10px;
  font-style: italic;
  color: whitesmoke;
  width: 60px;
}

.loader {
  border: 4px solid grey; /* Light grey */
  border-top: 4px solid white;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 2s linear infinite;
  margin: 0 10px 0 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logout-btn {
  margin: 0 0 0 10px;
  color: white;
}

.logout-btn:hover {
  cursor: pointer;
}

.toolbar-btn {
  margin: 2px;
}

.sign-in-btn {
  margin: 2px;
}

.toolbar-input {
  margin: 2px;
  width: 30px;
}

.pg-text {
  color: white;
  font-size: 12px;
}

#total-pages {
  color: white;
  font-size: 16px;
  font-weight: 600;
  margin: 0 4px;
}

.upload-btn {
  display: none;
}

.upload-logo {
  color: white;
  padding: 2px 5px 2px 5px;
}

.upload-logo:hover {
  cursor: pointer;
}

/* Remove input box number type arrows for inc and dec input*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media (max-width: 800px) {
  .toolbar-ctn {
    margin: 0;
  }
}
